html, body, #map {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.coordinates-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    display: none;
}


#layerCheckboxList {
    height: 100vh; 
    overflow-y: auto; 
}

.layer-checkbox input[type="checkbox"] {
    margin-right: 5px;
}

header {
    background-color: #0094EE;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 60px;
    margin-right: 10px;
}

.header-center h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px 20px; 
}

.header-left img {
    height: 60px;
    margin-right: 10px;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button {
    background: none; 
    border: none; 
    color: white; 
    font-weight: bold;
    padding: 10px 20px; 
    margin: 0 5px; 
    cursor: pointer; 
    font-size: 18px; 
}

nav button:hover {
    color: gray;
}

.search-container {
    position: relative;
    margin-bottom: 10px;
}

#searchInput {
    padding: 8px 30px 8px 8px;
    width: 100%;
    border: px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.search-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-button i {
    color: #777;
}

#searchInput:focus {
    outline: none;
    border-color: #555; 
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5); /
}


main {
    display: flex;
}

.container-fluid {
    height: 100%;
    background-color: white; 
    padding: 20px;
    padding-bottom: -20px; 
}


h3 {
    color: #0094EE;
    font-size: 1rem;
    margin-bottom: 15px;
}

#layerCheckboxList {
    background-color: #0094EE;
    border-radius: 10px;
    color: white;
    height: 100%;
    max-height: 600px; 
    overflow-y: auto;
}

.map {
    height: 100%; 
    max-height: 700px;
    border: 1px solid black;
    border-radius: 10px;
}

.col-md-3 {
    margin-bottom: 20px;
}


.layer-category {
    padding: 10px;
    margin: 5px 0;
    background-color: none;
    border-radius: 5px;
}

.layer-category input[type="checkbox"] {
    margin-right: 10px;
}

details {
    border-bottom: 1px solid white; 
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: none;
    color: white;
    transition: background-color 0.2s;
}

details:hover {
    background-color: #007bb5;
}

details summary {
    color: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: none;
    border-radius: 3px;
    position: relative;
    list-style: none;
}

details summary::before {
    content: '\25BC'; 
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease;
    transform: rotate(30deg);
}

details[open] summary::before {
    transform: rotate(120deg);
}

details div.layer-category {
    margin-left: 20px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

details summary:hover {
    color: #f0f0f0;
}

details[open] summary {
    color: #f0f0f0;
}


.collapse-legend span {
    color: black;
    margin-left: 145px;
    transition: transform 0.5s ease;
    font-size: 20px;
}

.collapse-legend[aria-expanded="true"] span {
    transform: rotate(-180deg); 
}

.info-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info-label i {
    margin-right: 25px;
}

.source-label {
    font-size: 1em;
}

#collapseDragDropMaps {
    background-color: #0094EE;
    border-radius: 10px;
    margin-top: 50px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#collapseDragDropMaps .dropdown-toggle {
    background-color: #0094EE;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-weight: bold;
    text-align: center;
    height: 80px;
    width: 100%;
    position: relative; 
    padding-right: 30px; 
    appearance: none; 
}

#collapseDragDropMaps .dropdown-toggle::after {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 30px; 
    transition: transform 0.5s ease;
}

#collapseDragDropMaps .dropdown-toggle[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(0deg); 
}

#collapseDragDropMaps .dropdown-toggle:hover {
    background-color: #007bb5;
}

#collapseDragDropMaps .dropdown-menu {
    background-color: #fff;
    color: white;
    border: 2px solid #7a7a7a;
    width: 100%;
    height: 100px;
}

/* Configurações do visual da legenda */
#legend {
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    left: 450px; 
    bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
    width: 350px;
    transition: all 0.3s ease; 
}

#legend:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); 
}

#legend_heading {
    background-color: #f8f9fa; 
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.3s ease; 
}

#legend_heading h4 {
    color: black; 
    font-size: 1rem; 
    margin: 0;
}

.fa-circle {
    font-size: 12px !important; /* Força a aplicação do tamanho */
    margin-right: 4px;
}

.fa-caret-down {
    margin-right: 6px;
}

#legend_body {
    width: 100%; 
    background-color: #f8f9fa;
    padding: 10px 10px 10px 10px;
    border: 1px solid #dee2e6; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: height 0.3s ease, width 0.3s ease; 
    height: 250px; 
    overflow-y: auto; 
}

#legend_body .collapse.show {
    display: block; 
    height: 300px;
    width: 100%; 
}

#legend_body .collapse {
    max-height: 0; 
}

#legend_body button {
    margin-bottom: 10px; 
    width: 100%; 
    background-color: #000;
    color: #fff;
}

#legend_body button:last-child {
    margin-bottom: 0;
}

#legend_body button:hover {
    border-color: #fff; 
}

.collapse-legend {
    width: 100%;
    text-align: left;
    padding: 10px;
    outline: none;
}

.collapse-legend:hover {
    background-color: #eaeaea; 
}

.collapse-legend .fas {
    font-size: 1.2rem;
    margin-left: 10px;
    transition: transform 0.3s; 
}

.fa-caret-down[aria-expanded="false"] .fas {
    transform: rotate(0deg);
}

.fa-caret-down[aria-expanded="true"] .fas {
    transform: rotate(0deg);
}


/* Estiliza a lista do menu suspenso */
.dropdown-menu {
    background-color: #f8f9fa;
    border: 1px solid #000;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    width: 100%; 
    max-height: 400px; /* Altura máxima para scroll */
    overflow-y: auto; /* Adiciona scroll se necessário */
    padding: 1rem;
    margin: 0;
    position: relative; 
    display: none; /* Adiciona display none por padrão */
}

/* Estiliza itens da lista dentro do menu */
.dropdown-menu li {
    font-size: 1rem;
    color: #212529;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

/* Quando a lista está visível, expande os itens */
.dropdown-menu.show {
    display: block; /* Mostra o menu quando necessário */
}

/* Quando o item está ativo */
.dropdown-menu li.active {
    background-color: #eaeaea; /* Destaque para item ativo */
}

/* Configurações do visual do chat */
#show-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1001;
    margin-left: 20px !important;
}

#show-chat-button:hover {
    background-color: #007bb5; 
}

#show-chat-button:active {
    background-color: #007bb5; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* Contêiner principal do chat */
#chat-container {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; 
    flex-direction: column;
    background-color: #ccc;
    position: fixed;
    margin-left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    height: 50px;
}

.chat-title {
    font-size: 18px;
    padding-top: 2px;
    text-align: center;
    font-weight: bold;
}

.fa-times {
    font-size: 20px; 
    margin-right: 4px;
}

.fa-comment {
    padding-top: 3px;
    margin-right: 4px;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo para mensagens recebidas */
.message.received {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para mensagens enviadas pelo usuário */
.message.sent {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#message-input-container {
    display: flex;
    padding: 10px;
    background-color: #007bff;
    flex-shrink: 0;
    border-radius: 0px 0px 8px 8px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#send-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #003d99;
}

#toggle-chat-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.welcome-message {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: -10px;
}

.welcome-message p {
    margin: 0;
    font-size: 14px;
}

.welcome-message p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
