html, body, #map {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.coordinates-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    display: none;
}


#layerCheckboxList {
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow-y: auto; /* Adiciona rolagem vertical */
}

.layer-checkbox input[type="checkbox"] {
    margin-right: 5px;
}

header {
    background-color: #0094EE;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 60px;
    margin-right: 10px;
}

.header-center h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px 20px; 
}

.header-left img {
    height: 60px;
    margin-right: 10px;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button {
    background: none; 
    border: none; 
    color: white; 
    font-weight: bold;
    padding: 10px 20px; 
    margin: 0 5px; 
    cursor: pointer; 
    font-size: 18px; 
}

nav button:hover {
    color: gray;
}

.search-container {
    position: relative;
    margin-bottom: 10px;
}

#searchInput {
    padding: 8px 30px 8px 8px;
    width: 100%;
    border: px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.search-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-button i {
    color: #777;
}

#searchInput:focus {
    outline: none;
    border-color: #555; 
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5); /
}


main {
    display: flex;
}

.container-fluid {
    height: 100%;
    background-color: white; 
    padding: 20px;
    padding-bottom: -20px; 
}


h3 {
    color: #0094EE;
    font-size: 1rem;
    margin-bottom: 15px;
}

#layerCheckboxList {
    background-color: #0094EE;
    border-radius: 10px;
    color: white;
    height: 100%;
    max-height: 600px; /* Define a altura máxima desejada */
    overflow-y: auto;
}

.map {
    height: 100%; /* Ajuste conforme necessário */
    max-height: 700px;
    border: 1px solid black;
    border-radius: 10px;
}

.col-md-3 {
    margin-bottom: 20px;
}


.layer-category {
    padding: 10px;
    margin: 5px 0;
    background-color: none;
    border-radius: 5px;
}

.layer-category input[type="checkbox"] {
    margin-right: 10px;
}

details {
    border-bottom: 1px solid white; 
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: none;
    color: white;
    transition: background-color 0.2s;
}

details:hover {
    background-color: #007bb5;
}

details summary {
    color: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: none;
    border-radius: 3px;
    position: relative;
    list-style: none;
}

details summary::before {
    content: '\25BC'; 
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease;
    transform: rotate(30deg);
}

details[open] summary::before {
    transform: rotate(120deg);
}

details div.layer-category {
    margin-left: 20px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

details summary:hover {
    color: #f0f0f0;
}

details[open] summary {
    color: #f0f0f0;
}


.collapse-legend span {
    color: black;
    margin-left: 145px;
    transition: transform 0.5s ease;
    font-size: 20px;
}

.collapse-legend[aria-expanded="true"] span {
    transform: rotate(-180deg); 
}

.info-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info-label i {
    margin-right: 25px;
}

.source-label {
    font-size: 1em;
}

#collapseDragDropMaps {
    background-color: #0094EE;
    border-radius: 10px;
    margin-top: 50px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#collapseDragDropMaps .dropdown-toggle {
    background-color: #0094EE;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-weight: bold;
    text-align: center;
    height: 80px;
    width: 100%;
    position: relative; 
    padding-right: 30px; 
    appearance: none; 
}

#collapseDragDropMaps .dropdown-toggle::after {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 30px; 
    transition: transform 0.5s ease;
}

#collapseDragDropMaps .dropdown-toggle[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(0deg); 
}

#collapseDragDropMaps .dropdown-toggle:hover {
    background-color: #007bb5;
}

#collapseDragDropMaps .dropdown-menu {
    background-color: #fff;
    color: white;
    width: 100%;
    height: 100px;
}

<<<<<<< HEAD
#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
}

.message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #e9e9e9;
    align-self: flex-start;
}

#message-input-container {
    display: flex;
    padding: 10px;
    background-color: #007bff;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#send-button {
    background-color: #0069d9;
    border: none;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

=======
/* Configurações do visual da legenda */
#legend {
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    left: 450px; /* Ajuste para um valor mais dinâmico em telas menores */
    bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Aumente o arredondamento para um visual mais moderno */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Aumente a sombra para destaque */
    width: 300px;
    transition: all 0.3s ease; /* Transição suave para todos os elementos */
}

#legend:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Feedback visual no hover */
}

#legend_heading {
    background-color: #f8f9fa; /* Leve mudança de cor para o cabeçalho */
    border-bottom: 1px solid #ddd;
    padding: 12px; /* Aumente um pouco o padding */
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#legend_heading h4 {
    color: black; /* Cor azul para destacar o título */
    font-size: 1rem; /* Tamanho de fonte ligeiramente maior */
    margin: 0;
}
.fa-circle {
    font-size: 15px !important; /* Força a aplicação do tamanho */
    margin-right: 4px;
}

#legend_body {
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff; /* Fundo branco para contraste */
    transition: padding 0.3s ease; /* Animação suave */
}

.collapse-legend {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    outline: none;
}

.collapse-legend:hover {
    background-color: #eaeaea; 
}

.collapse-legend .fas {
    font-size: 1.2rem;
    margin-left: 10px;
    transition: transform 0.2s; /* Animação de rotação do ícone */
}

.collapse-legend[aria-expanded="true"] .fas {
    transform: rotate(0deg);
}

.collapse-legend[aria-expanded="false"] .fas {
    transform: rotate(180deg);
}

/* Configurações do visual do chat */
>>>>>>> front-end-updates
#show-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
<<<<<<< HEAD
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}
</style>
=======
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
}

#show-chat-button:hover {
    background-color: #007bb5; 
}

#show-chat-button:active {
    background-color: #007bb5; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* Contêiner principal do chat */
#chat-container {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    background-color: #ccc;
    position: fixed;
    margin-left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo para mensagens recebidas */
.message.received {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para mensagens enviadas pelo usuário */
.message.sent {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#message-input-container {
    display: flex;
    padding: 10px;
    background-color: #007bff;
    flex-shrink: 0;
    border-radius: 0px 0px 8px 8px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#send-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #003d99;
}

#toggle-chat-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.welcome-message {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: -10px;
}

.welcome-message p {
    margin: 0;
    font-size: 14px;
}

.welcome-message p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
>>>>>>> front-end-updates
