

html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.coordinates-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    display: none;
}


#layerCheckboxList {
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow-y: auto; /* Adiciona rolagem vertical */
}

.layer-checkbox input[type="checkbox"] {
     margin-right: 5px;
}

header {
    background-color: #1C184A;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 60px;
    margin-right: 10px;
}

.header-center h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px 20px; 
}

.header-left img {
    height: 60px;
    margin-right: 10px;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button {
    background: none; 
    border: none; 
    color: white; 
    font-weight: bold;
    padding: 10px 20px; 
    margin: 0 5px; 
    cursor: pointer; 
    font-size: 18px; 
}

nav button:hover {
    color: gray;
}

main {
    display: flex;
}

.container-fluid {
    background-color: white; 
    padding: 20px; 
}


h3 {
    color: #2F4471;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#layerCheckboxList {
    background-color: #2F4471;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map {
    height: 500px; /* Ajuste conforme necessário */
    border: 1px solid #ddd;
    border-radius: 10px;
}

.col-md-3 {
    margin-bottom: 20px;
}


.layer-category {
    padding: 10px;
    margin: 5px 0;
    background-color: none;
    border-radius: 5px;
}

.layer-category input[type="checkbox"] {
    margin-right: 10px;
}

details {
    border-bottom: 1px solid white; 
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: none;
    color: white;
    transition: background-color 0.2s;
}

details:hover {
    background-color: #1c2736;
}

details summary {
    color: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: none;
    border-radius: 3px;
    position: relative;
    list-style: none;
}

details summary::before {
    content: '\25BC'; 
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease;
    transform: rotate(30deg);
}

details[open] summary::before {
    transform: rotate(120deg);
}

details div.layer-category {
    margin-left: 20px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

details summary:hover {
    color: #f0f0f0;
}

details[open] summary {
    color: #f0f0f0;
}

.search-container {
    position: relative;
    margin-bottom: 10px;
}

#searchInput {
    padding: 8px 30px 8px 8px;
    width: 100%;
    border: px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.search-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-button i {
    color: #777;
}

#searchInput:focus {
    outline: none;
    border-color: #555; 
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5); /
}

#legend {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 250px; /* Defina a largura máxima da legenda conforme necessário */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#legend_heading {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

#legend_body {
    padding: 10px 0;
}

.legend-item-header {
    margin-bottom: 10px;
}

.label-name {
    font-weight: bold;
}

.collapse-legend {
    cursor: pointer;
}

.collapse-legend i {
    margin-left: 5px;
}

.info-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info-label i {
    margin-right: 5px;
}

.source-label {
    font-size: 0.8em;
}


