/* Ajustando a área do mapa */
#map {
    height: calc(100vh - 60px);
}

.col {
    flex: 1;
    padding: 0;
}

/* Estilos gerais para Topbar */
.topbar {
    display: flex;
    background-color: #343a40;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.topbar .logo {
    height: 50px;
}

.topbar h1 {
    margin: 0;
}

.topbar a {
    color: white;
    text-decoration: none;
}

.topbar a:hover {
    text-decoration: underline;
}

.topbar.hidden-topbar {
    display: none;
}

.topbar-left {
    margin-left: 20px;
}

/* Estilos gerais para sidebar */

.sidebar {
    position: absolute;
    top: 10px;
    left: 0px;
    bottom: 0;
    padding: 0;
    width: 250px;
    color: white;
    display: flex;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar-content {
    width: 100%;
    padding: 5px;
    height: 100%;
    background: #000;
}
.sidebar-camadas {
    overflow-y: scroll;
    background-color: #232323;
    height: 100%;
    padding-left: 5px;
    border-radius: 0 0 8px 0;
}

.sidebar-mapas-ativos {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    background-color: #232323;
    border-radius: 0 8px 0 0;
}

/* Estiliza a barra de rolagem */

.sidebar-camadas::-webkit-scrollbar {
    width: 6px;
}

.sidebar-camadas::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

.sidebar-camadas::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: none;
}

.sidebar-camadas::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.sidebar.sidebar-collapsed .sidebar-content {
    width: 0;
    padding: 0;
    display: none;
}
.sidebar-header {
    border-bottom: 1px solid #333;
}
.sidebar-header span {
    font-size: 20px;
}

.sidebar.sidebar-collapsed {
    width: 0px;
}

/* Estilos gerais para a actionbar */

.action-bar {
    background-color: #333;
    display: flex;
    position: absolute;
    top: 0;
    right: -50px;
    flex-direction: column;
    align-items: start;
    border-radius: 0px 0px 10px 0;
    transition: all 0.3s ease-in-out;
}

.action-bar .btn {
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
}
.active {
    background: #555;
}
.action-bar .btn:hover {
    background-color: #555;
    cursor: pointer;
}
.search-container {
    position: relative;
}
.input-search {
    display: block;
    position: absolute;
    left: 50px;
    background: #333;
    width: 200px;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    top: 0;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    padding-left: 10px;
}
.input-search:focus {
    background-color: #333;
    color: wheat;
}

.input-search.hidden {
    width: 0;
    padding: 0;
}

/* Estilo geral para o componente accordion */
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff8a00'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button::after {
    margin-right: 3px;
}
.accordion-button {
    padding: 0.4rem 0.8rem;
}

/* Estilo geral do accordion para as categorias*/

.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}
.accordion-button.cat {
    background-color: #24282c;
    color: rgb(255, 171, 61);
    font-size: 0.9rem;
    margin-bottom: 2px;
}
.accordion-button.cat:hover {
    background: #3b3b3b;
}
.accordion-button.cat:focus {
    box-shadow: none;
}
.accordion-item.cat {
    background-color: transparent;
    border: none;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}
.accordion-body.cat {
    background-color: #272727;
    color: white;
    font-size: 0.85rem;
    border-radius: 0;
    padding: 0;
}
.accordion-header.cat {
    margin: 0;
    padding: 0;
}

/* Estilo geral do accordion para as subcategorias*/

.accordion-button.sub {
    background-color: #343a40;
    color: white;
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
}
.accordion-button.sub::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: wheat;
    width: 2px;
    height: 100%;
}
.accordion-button.sub:not(.collapsed) {
    background: #343a40;
    color: white;
}
.accordion-button.sub:focus {
    box-shadow: none;
}
.accordion-item.sub {
    border: none;
    margin-bottom: 0.3rem;
}
.accordion-body.sub {
    background-color: #272727;
    color: white;
    font-size: 0.85rem;
    padding: 5px;
}
.accordion-body ul {
    margin: 0;
    border-bottom: #343a40;
}
.accordion-body .label-layer-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-layer {
    color: red;
}
.show-layer-alert {
    display: block;
    color: rgb(165, 66, 66);
}
.hide-layer-alert {
    display: none;
}
/* Aplica estilo ao ícone <i> quando a label tiver a classe "error-layer" */
/* .error-layer + i {
    display: block;
    color: rgb(
        192,
        63,
        63
    ); 
    font-size: 15px;
} */
.accordion-body ul li {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.accordion-body ul li label {
    flex-grow: 1;
}

input[type="checkbox"] {
    accent-color: rgb(255, 171, 61); /* Cor vermelha */
}

/* Estilos gerais para as layers em Mapas Ativos */
.box-legenda {
    flex-grow: 1;
    overflow-y: auto;
}
.box-leg-item:hover {
    border: 1px solid rgb(255, 171, 61);
}
.box-leg-item {
    display: flex;
    align-items: center;
    border: 1px solid #6c757d;
    height: 40px;
    margin-bottom: 3px;
}
.box-leg-item img {
    height: 40px;
    width: 40px;
}
.box-leg-body {
    flex-grow: 1;
    padding: 2px 2px 2px 4px;
    height: 100%;
    display: flex;
    align-items: center;
}
.box-leg-body p {
    font-size: 10px;
    margin: 0;
}

/* Estilos gerais para os accordion de Mapas Ativos e Legendas */
.accordion {
    overflow: hidden;
}
.accordion-item.ma.layer-deleting .accordion-button {
    z-index: 3;
    border-color: #fe8686;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}
.accordion-item.ma.layer-deleting .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%23ff0000' stroke-width='2' fill='none'%3E%3Cline x1='4' y1='4' x2='12' y2='12'/%3E%3Cline x1='4' y1='12' x2='12' y2='4'/%3E%3C/svg%3E");
}
.accordion-item.ma {
    position: relative;
    transition: transform 0.3s ease;
}
.accordion-button.ma:not(.collapsed) img {
    display: none;
}
.accordion-button.ma:not(.collapsed) {
    border-left: 1px solid #fff;
}

.accordion-item.ma {
    background-color: transparent;
    /* box-shadow: rgb(69 39 12 / 25%) 0px 6px 12px -2px,
        rgb(229 165 165 / 30%) 0px 3px 7px -3px; */
    margin-bottom: 8px;
}
.accordion-button.ma {
    height: 30px;
    color: #fff;
    background: #313131;
}
.accordion-button.ma span {
    margin-left: 8px;
}
.accordion-collapse.ma {
    border-left: 1px solid rgb(255, 255, 255);
}
.accordion-body.ma {
    padding: 5px;
}
.accordion-body.ma h3 {
    font-size: medium;
}
.ma-img-box {
    height: 80px;
    /* border: 1px dotted #4b4b4b; */
}
.ma-img-box img {
    display: block;
    max-height: 100%;
    height: 100%;
    width: auto;
}
.ma-leg-box {
    margin: 5px 0 5px 0;
}
.ma-leg-box p {
    font-size: small;
    margin: 0;
}

/* Estilos gerais para a mensagem de erro  */
#error-message {
    display: none;
    position: absolute;
    top: -10px; /* Ajuste a distância do topo conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(177, 57, 57);
    color: white;
    font-weight: 300;
    border-radius: 5px;
    z-index: 9999; /* Para garantir que fique acima de outros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.5s ease-in-out;
}

/* Estilo da caixa de seleção */
#selection-box {
    position: absolute;
    pointer-events: none; /* Não captura cliques internamente */
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#selection-area {
    min-width: 347px;
    min-height: 300px;
    border: 4px solid rgb(0, 0, 0);
    resize: both;
    overflow: hidden;
    position: relative;
}

#drag-handle {
    /* Permite arrastar pelo cabeçalho */
    display: flex;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    color: aliceblue;
    background-color: #333333;
    padding: 5px;
    cursor: move;
    pointer-events: auto; /* O cabeçalho captura eventos de clique */
}
.selection-tools {
    width: 150px;
    pointer-events: auto;
}
.print-options {
    background: #333333;
    padding: 8px;
    border-radius: 0px 5px 5px 0;
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.print-options select,
.print-options input,
.print-options span {
    height: 28px;
    font-size: 12px;
}
.print-options button {
    width: 80px;
    height: 30px;
    padding: 0;
    background: #ff8e31;
    border: 1px solid #fff;
}
.print-options button:hover {
    background-color: #d17224;
}

#selection-area::after {
    /* Estilo para permitir interações nas bordas de redimensionamento */
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #24282c;
    width: 15px;
    height: 15px;
    background: rgb(255, 255, 255); /* Transparente, mas captura eventos */
    cursor: se-resize; /* Mostra o ícone de redimensionamento */
    pointer-events: auto; /* Permite interações nas bordas */
    z-index: 1001;
}
#drag-handle button {
    color: #fff;
}
#drag-handle button:hover {
    background: #434343;
}

.swipe-delete {
    background-color: #f8d7da;
}

.accordion-body {
    user-select: none;
}
/* Botão flutuante*/
#floating-button {
    position: fixed;
    top: 200px; /* Define a distância do topo */
    right: 0;   /* Alinha à direita da página */
    cursor: move;
}

.btn-group {
    display: inline-block; /* Garante que o botão não ocupe 100% de largura */
}

.btn {
    /* Verifique se não há nada causando redimensionamento inesperado */
    padding: 10px 20px;
    margin: 0;
    border: none;
    width: auto; /* Impede que o botão se expanda para preencher o container */
}


/*Marcações do mapa*/
.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
  }
  .ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
  }
  .ol-tooltip-static {
    background-color: #000000;
    color: white;
    border: 1px solid white;
  }
  .ol-tooltip-measure:before,
  .ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }
  .ol-tooltip-static:before {
    border-top-color: #0a0a0a;
  }

/* Configurações do visual do chat */
#show-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1001;
    margin-left: 20px !important;
}

#show-chat-button:hover {
    background-color: #007bb5; 
}

#show-chat-button:active {
    background-color: #007bb5; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* Contêiner principal do chat */
#chat-container {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; 
    flex-direction: column;
    background-color: #ccc;
    position: fixed;
    margin-left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    height: 50px;
}

.chat-title {
    font-size: 18px;
    padding-top: 2px;
    text-align: center;
    font-weight: bold;
}

.fa-times {
    font-size: 20px; 
    margin-right: 4px;
}

.fa-comment {
    padding-top: 3px;
    margin-right: 4px;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo para mensagens recebidas */
.message.received {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para mensagens enviadas pelo usuário */
.message.sent {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#message-input-container {
    display: flex;
    padding: 10px;
    background-color: #007bff;
    flex-shrink: 0;
    border-radius: 0px 0px 8px 8px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#send-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #003d99;
}

#toggle-chat-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.welcome-message {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: -10px;
}

.welcome-message p {
    margin: 0;
    font-size: 14px;
}

.welcome-message p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    #show-chat-button {
        width: 90%; /* O botão se ajusta à largura da tela */
        bottom: 10px;
        left: 5%;
        right: 5%;
        margin-left: 0;
        padding: 15px 0;
        text-align: center;
        border-radius: 30px;
    }

    #chat-container {
        width: 90%; /* Chat se ajusta à tela */
        height: 50%;
        bottom: 10px;
        left: 5%;
        right: 5%;
    }
}
